 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-info fixed-top text-dark nav-ligth">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="" width="100" class="py-2"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li>
              <div class="btn-group mr-4 col-md-12" role="group">
    <button id="btnGroupDrop1" type="button" class="button2 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-envelope-open text-dark">2</i> Mensajes
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Mensaje 1</a>
      <a class="dropdown-item" href="#">Mensaje 2</a>
    </div>
  </div>
            </li>
            <li class="nav-item button2 text-center mr-4">
              <a class="nav-link" href="#">Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="row ">
    <div class="col-md-12 bajar text-center">
      <h4 class="panel bg-info col-md-4 text-white mensaje offset-4"> Bienvenido Nombre Usuario</h4>
      <hr class="col-md-10 offset-1 bg-primary">
    </div>

    <!--chat grupal-->
      <div class="col-md-3 ml-5">
     <ul class="list-group col-md-12 scroll  shadow">
  <li class="list-group-item bg-info text-white text-center"><strong>Chat grupal</strong></li>
  <a href="" title=""><li class="list-group-item text-dark"><i class="fa fa-bullseye text-success mr-1"></i>Dapibus ac facilisis in</li></a>
  
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Morbi leo risus</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Porta ac consectetur ac</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-success mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-success mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
</ul>
<br>
     <button class="btn btn-info mr-2 py-1 text-center offset-3 shadow  col-5" data-toggle="modal" data-target="#crearSala"> 
      <strong><i class="fas fa-comment-dots mr-2"></i>Crear sala</strong></button>
   </div>


<!--chat activo-->
 <div class="col-md-5 text-center ml-1">
   <div class="spinner-grow text-info" role="status">
  <span class="sr-only text-center ">Loading...</span>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong class="mr-4">Chat grupal</strong> <strong class="border-right mr-4"></strong> <strong>Nombre chat</strong></h4>
  </div>
  <div class="card-body scroll">
    <p class="card-text overflow-auto col-md-6 bg-info text-white mensaje shadow"><strong>
      Profesor <br>
    Before getting started with Bootstrap’s modal component, be sure to read the following as our menu options have recently changed.
    </strong></p>
    <p class="card-text overflow-auto offset-6 col-6 color2 text-white mensaje shadow"><strong>Tú <br>
    Mensaje 3</strong></p>
    <p class="card-text overflow-auto offset-6 col-6 color2 text-white mensaje shadow"><strong>Tú <br>
    Mensaje 1</strong></p>
    <p class="card-text overflow-auto col-6 bg-info text-white mensaje shadow"><strong>
      Profesor <br>
    Mensaje 4
    </strong></p>
    <p class="card-text overflow-auto col-6 bg-info text-white mensaje shadow"><strong>
      Profesor <br>
    Mensaje 4
    </strong></p>
    <p class="card-text overflow-auto col-6 bg-info text-white mensaje"><strong>
      Profesor <br>
    Mensaje 4
    </strong></p>
    <form action="" method="" accept-charset="utf-8">
    <div class="row">
      <input type="text" name="mensaje" class="form-control col-md-10">
      <a href="#" class="btn btn-info col-md-2"><strong>Enviar</strong></a>
    </div>
    </form>
  </div>
</div>
 </div>

  <!--chat privados-->
   <div class="col-md-3 ml-4">
     <ul class="list-group col-md-12 scroll shadow">
  <li class="list-group-item bg-info text-white text-center"><strong>Chat privado</strong></li>
  <a href="" title=""><li class="list-group-item text-dark"><i class="fa fa-bullseye text-success mr-1"></i>Dapibus ac facilisis in</li></a>
  
  <li class="list-group-item"><i class="fa fa-bullseye text-success mr-1"></i>Morbi leo risus</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Porta ac consectetur ac</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
  <li class="list-group-item"><i class="fa fa-bullseye text-danger mr-1"></i>Vestibulum at eros</li>
</ul>
   </div>
   
	</div>
  
  <!--modal de crear sala-->
<div class="modal fade" id="crearSala" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content color-modal sombra">
      <div class="modal-header">
        <h3 class="modal-title text-center col-12 text-white" id="exampleModalLabel"><strong class="mr-1">Crear</strong>
          <i class="fa fa-users fa-2x text-dark"></i> <strong class="ml-1">sala</strong></h3>
      </div>
      <div class="modal-body">
        <form action="" method="" accept-charset="utf-8">
     <h5 class="text-center"><strong>Sala</strong></h5>
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user text-primary"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Nombre de la sala" aria-label="Username" aria-describedby="basic-addon1" required="" pattern="[a-z|A-Z]{4,}" title="los nombres de sala deben ser minimo de 4 letras y sin digitos o caracteres especiales">
</div>
     <h5 class="text-center"> <strong>Contraseña</strong></h5>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key text-primary"></i></span>
  </div>
  <input type="password" class="form-control" placeholder="clave de la sala" aria-label="Username" aria-describedby="basic-addon1" required="" pattern="[0-9]{4,}" title="las claves de sala debe ser solo numeros y de minimo 4 digitos">
</div>
     <br>
    <button type="submit" class="col-4 panel offset-2 button-aceptar">Crear</button>
    <button type="submit" class="col-4 panel offset-0 button-cerrar" data-dismiss="modal">Cerrar</button>
    </form>
      </div>
    </div>
  </div>
</div>
