<app-navbar></app-navbar>
<div class="fondo1">
	<div class="row ">
	<div class="card col-md-4 offset-4 centrar sombra opacidad" style="width: 18rem;">
    <div class="card-header"><h3 class="text-center">Registarme</h3></div>
  <div class="card-body">
  	<form action="" method="" accept-charset="utf-8" >
  	<h5 class="text-center">Nombre <strong class="text-danger">*</strong></h5>
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user text-primary"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="nombre" aria-label="Username" aria-describedby="basic-addon1" required="" pattern="[a-z|A-Z]{4,}" title="los nombres deben tener al menos 4 letras y sin caracteres especiales ">
</div>
     <h5 class="text-center">Usuario <strong class="text-danger">*</strong></h5>
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user text-primary"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="usuario" aria-label="Username" aria-describedby="basic-addon1" pattern="[a-z|A-Z|0-9]{6,}" title="los usuarios deben tener al menos 6 caracteres">
</div>
     <h5 class="text-center"> Contraseña <strong class="text-danger">*</strong></h5>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key text-primary"></i></span>
  </div>
  <input type="password" class="form-control" placeholder="clave" aria-label="Username" aria-describedby="basic-addon1" pattern="[a-z|A-Z|0-9]{8,}" title="las claves deben ser minimo de 8 caracteres">
</div>
<h5 class="text-center">Confirmar contraseña <strong class="text-danger">*</strong></h5>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key text-primary"></i></span>
  </div>
  <input type="password" class="form-control" placeholder="clave" aria-label="Username" aria-describedby="basic-addon1" pattern="[a-z|A-Z|0-9]{8,}" title="las claves deben ser minimo de 8 caracteres">
</div>
     <a href="login" title="" class="text-primary "><h5 class="offset-4 col-md-8"><i class="fa fa-play mr-1"></i>ya tengo cuenta</h5></a>
    <button type="submit" class="col-md-4 text-center offset-3 button1">Registrar</button>
    </form>
  </div>
</div>
	</div>
</div>

