<app-navbar></app-navbar>
<div class="fondo1">
	<div class="row">
	<div class="card col-md-4 col-md-offset-4 centrar sombra opacidad" style="width: 18rem;">
    <div class="card-header"><h3 class="text-center">Ingresar</h3></div>
  <div class="card-body">
  	<form action="" method="" accept-charset="utf-8">
     <h5 class="text-center">Usuario <strong class="text-danger">*</strong></h5>
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user text-primary"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="usuario" aria-label="Username" aria-describedby="basic-addon1" required="" pattern="[a-z|A-Z]{4,}" title="los nombres deben ser de almenos 4 letras y sin numeros o caracteres especiales">
</div>
     <h5 class="text-center"> Contraseña <strong class="text-danger">*</strong></h5>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key text-primary"></i></span>
  </div>
  <input type="password" class="form-control" placeholder="clave"  aria-label="Username" aria-describedby="basic-addon1" required="" id="clave" name="clave" pattern="[a-z|A-Z|0-9]{8,}" title="las claves deben ser minimo de 8 caracteres">
</div>
     <a href="register" title="" class="text-primary "><h5 class="offset-5 col-md-6"><i class="fa fa-plus-square mr-1"></i>Crear cuenta</h5></a>
     <br>
    <button type="submit" class="col-md-6  offset-3 button1">Ingresar</button>
    </form>
  </div>
</div>
	</div>
</div>

